.gitignore
.cache/
.spyproject/
__pycache__/
test.txt
__pycache__/solvers.cpython-37.pyc
__pycache__/visualization.cpython-37.pyc
cspline.inp
output/energies.dat
output/potential.dat
output/wavefuncs.dat
